.footer {
    background-color: #9AA6B2;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.footer-nav {
    margin-top: 10px;
}
  
.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
  
.footer-nav a:hover {
    text-decoration: underline;
}