/* MainNav.css */

#nav {
    background-color: #f0e6ef; /* Light purple background color */
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items across the nav */
}


#nav .logo-section {
    display: flex;
    align-items: center;
}


#nav .location-select {
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px; /* Set the font size for the location select */
}

#nav .location-select select {
  border: none;
  background-color: transparent;
  margin-left: 3px;
    cursor: pointer; /* Change cursor on hover */
    font-size: 14px; /* Set the font size for the location select */

}

#nav .search-container {
    flex: 1; /* Takes up the remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav input[type="text"] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    margin: 0 20px;
    flex:1;
}


#nav .auth-actions {
    display: flex;
    align-items: center;
}


#nav .auth-actions a {
    margin: 0 10px;
    text-decoration: none;
    color: #333; /* Set link text color */
    font-size: 14px; /* Set the font size for the auth actions */
}

#nav .auth-actions a:hover {
     text-decoration: underline;
}

#nav .auth-actions i{
     font-size: 20px;
}


#main {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}